#application {
	width: 100%;
	height: 100%;
}


html, body {
	height: 100%;
	width: 100%;
}

.panel {
	position: absolute;
	background-color: #f07;
}

.full-height {
	height: 100%;
	width: 100%;
}

.right-align {
	float: right;
}

.left-align {
	float: left;
}